@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  /*background-image: linear-gradient(to top, #006aff 0%, #00b2ff 100%);*/
  background-image: linear-gradient(to right, #00b2ff 0%, #00f2fe 100%);
  background-attachment: fixed;
}

.popup-content {
  max-width: 500px;
}
